<p>Home Page</p>
<h2>Form</h2>

{{#if error}}<p class="error">Invalid Data!</p> {{/if}}
<form method="post">
<input type="text" name="username" value="{{data.username}}">
<input type="password" name="password" {{data.password}}>
<input type="submit" placeholder="Submit">
</form>
